.container {
  display: flex;
  justify-content: space-between;
  background: #F8F8F8;
  padding: 100px 200px 100px 200px;

  .wrapperLogo {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 360px) {
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .containerLinks {
    display: flex;
    margin-top: 78px;
    margin-left: 125px;

    .wrapperLinks {
      display: flex;
      flex-direction: column;
      margin-right: 150px;

      &:last-child {
        margin-right: 0;
      }

      .mail {
        margin-top: 12px;
      }

      a {
        text-decoration: none;
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.75);
        font-size: 16px;
        line-height: 140%;

        @media screen and (max-width: 360px) {
          font-size: 30px;
        }
      }

      @media screen and (max-width: 360px) {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 360px) {
      flex-direction: column;
      text-align: center;
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .socialLogo {
    display: flex;
    margin-top: 30px;

    @media screen and (max-width: 360px) {
      justify-content: center;
    }
  }

  @media screen and (max-width: 360px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 0;
  }

  @media screen and (max-width: 1200px) {
    padding: 100px 100px 150px 100px;
  }
}