.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #C6E5FD;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 44px 41px 40px 41px;

  .containerTariff {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #E0F0FD;
    border-radius: 5px;
    padding: 4px 12px;
    width: 59px;
    height: 22px;
  }

  .containerPrice {
    display: flex;
    justify-content: space-between;

    .wrapperPrice {
      margin-top: 26px;
      margin-bottom: 23px;
    }

    .wrapperPriceYear {
      margin-top: 28px;
      display: flex;
      flex-direction: column;
    }
  }

  .wrapperDescription {
    width: 94%;
    margin-bottom: 38px;
  }

  .wrapperTicketDescription {
    display: flex;

    .wrapperTick {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  .wrapperBtn {
    margin-top: 42px;
  }
}