$title-color: #202731;

.title {
  font-weight: 500;
  font-size: 46px;
  color: $title-color;
}

.titleFirstBlock {
  font-family: Gilroy-Semibold, sans-serif;
  font-weight: 600;
  font-size: 66px;
  line-height: 110%;
  color: $title-color;
  margin-top: 0;
  margin-bottom: 30px;
}

.titleSecondBlock {
  font-family: Gilroy-Semibold, sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 46px;
  line-height: 55px;
}

.titleCardsFeedback {
  height: 65px;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: $title-color;
}

.titleThirdBlock {
  font-family: Gilroy-Medium, sans-serif;
  margin-top: 11px;
  margin-bottom: 24px;
}