.container {
  display: flex;
  flex-direction: column;
  padding: 145px 200px 150px 200px;

  .wrapperPrice {
    display: flex;

    @media screen and (max-width: 360px) {
      flex-direction: column;
    }
  }

  .wrapperTitle {
    width: 775px;
    height: 108px;
    margin-left: 357px;

    .wrapperDescription {
      margin-top: 24px;
    }

    @media screen and (max-width: 360px) {
      width: 100%;
      margin-left: 0;
    }

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 360px) {
    padding: 0;
    margin-top: 120px;
  }

  @media screen and (max-width: 1200px) {
    padding: 100px 100px 150px 100px;
  }
}

