.container {
  display: none;
  position: relative;
  margin-right: 50px;

  .burgerButtonActive,
  .burgerButton {
    width: 40px;
    height: 30px;
    position: relative;

    .line {
      width: 40px;
      height: 4px;
      position: absolute;
      top: 13px;
      transform: translateX(-50%);
      background-color: #03A8B7;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      width: 40px;
      height: 4px;
      background-color: #03A8B7;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 40px;
      height: 4px;
      background-color: #03A8B7;
    }
  }

  .burgerButtonActive {
    width: 40px;
    height: 30px;
    position: relative;

    .line {
      height: 0;
    }

    &::before {
      transform: rotate(45deg) translateY(9px) translateX(10px);
    }

    &::after {
      transform: rotate(-45deg) translateY(-9px) translateX(10px);
    }
  }

  .dropDownWrapperActive,
  .dropDownWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 77px;
    right: -50px;
    background: #03A8B7;
    height: 0;
    z-index: 1;

    a {
      text-transform: uppercase;
      font-size: 25px;
      display: block;
      text-decoration: none;
      color: #E0F0FD;
      opacity: 0;
    }

    .wrapperBtn {
      display: none;
    }
  }

  .dropDownWrapperActive {

    a {
      font-size: 60px;
      padding: 90px;
      opacity: 1;
    }

    .wrapperBtn {
      margin: 90px;
      display: block;
    }
  }
}


@media screen and (max-width: 360px) {
  .container {
    display: block;
  }
}

