.container {
  margin-top: 90px;
  padding: 150px 200px 204px 200px;
  flex-wrap: wrap;
  background: #FCFCFC;

  .wrapperFirstSection {
    display: flex;
    max-width: 1200px;
    margin-bottom: 150px;

    .wrapperText {
      margin-top: 97px;
      margin-right: 60px;

      .paragraph {
        margin-top: 20px;

        @media screen and (max-width: 360px) {
          margin-bottom: 60px;
        }
      }

      @media screen and (max-width: 360px) {
        margin-top: 50px;
      }
    }

    @media screen and (max-width: 360px) {
      align-items: center;
      flex-direction: column;
      max-width: 100%;
    }
  }

  .wrapperSecondSection {
    display: flex;
    max-width: 1200px;

    .wrapperText {
      margin-top: 83px;
      margin-left: 60px;

      @media screen and (max-width: 360px) {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
      }
    }

    Button {
      margin-top: 32px;

      @media screen and (max-width: 360px) {
        margin-bottom: 60px;
      }
    }

    @media screen and (max-width: 360px) {
      max-width: 100%;
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  @media screen and (max-width: 360px) {
    padding: 0;
  }
}

.wrapperTitle {
  margin-top: 11px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 100px 20px 0 100px;

    .wrapperSecondSection,
    .wrapperFirstSection {
      max-width: 1100px;

      .wrapperText {
        display: flex;
        flex-direction: column;
      }
    }


  }
}

