$top-color: #202731;

.header {
  max-width: 1340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px 24px 200px;
}

.link {
  display: flex;
  justify-content: flex-end;
  width: 46%;

  a {
    font-family: Roboto-Light, sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: $top-color;
    padding-right: 58px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.line {
  width: 100%;
  border-bottom: 1px solid rgba(32, 39, 49, 0.2);
}
