.container {
  display: flex;
  justify-content: space-between;
  padding-top: 118px;
  width: 100%;

  .wrapperCard {
    display: flex;
    justify-content: space-between;
    width: 30%;

    @media screen and (max-width: 360px) {
      width: 90%;
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 360px) {
    padding-top: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}