.container {
  background: #FCFCFC;

  .feedbackClient {
    padding: 145px 200px 0 200px;

    .wrapperFirstSection {
      display: flex;
      padding-bottom: 67px;

      .wrapperFirstTextField {
        width: 100px;
        margin-top: 10px;

        @media screen and (max-width: 360px) {
          width: 100%;
          margin-top: 60px;
        }
      }

      .wrapperTitle {
        width: 780px;
        margin-left: 322px;

        @media screen and (max-width: 360px) {
          margin-left: 0;
        }
      }

      @media screen and (max-width: 360px) {
        flex-direction: column;
      }
    }

    @media screen and (max-width: 360px) {
      margin-top: 120px;
      padding: 0;
    }
  }

  .wrapperFeedback {
    display: flex;

    .wrapperQuotes {
      margin-left: 60px;
    }

    .wrapperTextField {
      width: 435px;
      height: 124px;
      margin-left: 54px;

      .descriptionClient {
        margin-top: 81px;
      }
    }

    @media screen and (max-width: 360px) {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;

      .wrapperTextField {
        margin-left: 0;
      }

      .wrapperTextField {
        margin-left: 0;
      }
    }
  }

  .wrapperBtn {
    display: flex;
    margin-top: 92px;

    @media screen and (max-width: 360px) {
      margin-top: 26px;
    }

    .wrapperBtnPainted {
      display: flex;
      margin-left: 30px;
    }
  }

  .wrapperCompaniesJoined {
    padding: 142px 200px 120px 200px;
    display: flex;

    .wrapperSecondTitle {
      width: 360px;
      height: 165px;
    }

    .containerCardCompanies {
      width: 68%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 60px;
    }

    @media screen and (max-width: 360px) {
      flex-direction: column;

      .wrapperSecondTitle {
        width: 100%;
      }

      .containerCardCompanies {
        width: 98%;
        margin-left: 0;
      }
    }

    @media screen and (max-width: 360px) {
      margin-top: 250px;
      padding: 0;
    }
  }
}





