.container {
  display: flex;
  padding: 139px 227px 300px 200px;

  .wrapperTitle {
    width: 360px;
    margin-left: 359px;

    .wrapperText {
      margin-top: 24px;
      margin-bottom: 50px;
    }

    .wrapperBtn {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (max-width: 360px) {
      width: 70%;
      margin-left: 50px;
    }
  }

  @media screen and (max-width: 360px) {
    flex-direction: column;
    margin-top: 100px;
    padding: 0;
  }

  @media screen and (max-width: 1200px) {
    padding: 100px 100px 150px 100px;
  }
}