.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.75);
}

.textIdentifyingBlock {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #03A8B7;
  text-transform: uppercase;
}

.descriptionFirstBlock {
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  color: rgba(24, 30, 37, 0.5);
}

.cardsFeedback {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
}

.titleCompanyFeedback {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: rgba(32, 39, 49, 0.5);
}

.textTariff {
  margin-top: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #3174C4;
}

.textPriceYear {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.5);
}