.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.75);

  @media only screen and(max-width: 360px) {
    font-size: 31px;
  }
}

.textIdentifyingBlock {
  font-weight: 500;
  color: #03A8B7;
  text-transform: uppercase;

  @media only screen and(max-width: 360px) {
    font-size: 25px;
  }
}

.descriptionFirstBlock {
  font-size: 26px;
  color: rgba(24, 30, 37, 0.5);

  @media only screen and(max-width: 360px) {
    width: 75%;
    font-size: 40px;
  }
}

.cardsFeedback {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.titleCompanyFeedback {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: rgba(32, 39, 49, 0.5);
}

.textTariff {
  margin-top: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #3174C4;
}

.textPriceYear {
  font-size: 14px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.5);
}

.textFeedbackNumbers {
  font-size: 66px;
  line-height: 77px;
  color: #202731;
  margin-bottom: 10px;
}

.textFooter {
  width: 290px;
  font-size: 26px;
  margin-top: 24px;
  margin-bottom: 41px;

  @media screen and (max-width: 360px) {
    margin: 30px;
  }
}

.titleFooterLink {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-bottom: 25px;

  @media screen and (max-width: 360px) {
    font-size: 40px;
  }
}

.footer {
  font-size: 14px;
  color: #F8F8F8;

  @media screen and (max-width: 360px) {
    font-size: 25px
  }
}