@font-face {
    font-family: Gilroy;
    src: url("../src/assets/fonts/Gilroy.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url("../src/assets/fonts/Roboto-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url("../src/assets/fonts/Gilroy-Semibold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Gilroy-Medium;
    src: url("../src/assets/fonts/Gilroy-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Gilroy, sans-serif;
    display: flex;
    max-width: 100%;
    margin: 0;
}

